/*
.dark .toastui-editor-contents {
    color: #e5e7eb;
    background-color: #1f2937;
  }
  

  .dark .toastui-editor-defaultUI {
    background-color: #1f2937; 
  }
  
  .dark .toastui-editor-toolbar {
    background-color: #374151;
  }
  
  .dark .toastui-editor-toolbar .toastui-editor-toolbar-icons {
    color: #e5e7eb;
  }
  .dark .toastui-editor-md-container {
    background-color: #1f2937;
    color: #e5e7eb; 
  }
  .light .toastui-editor-contents {
    color: #1f2937;
    background-color: #ffffff;
  }
  
  .light .toastui-editor-defaultUI {
    background-color: #ffffff;
  }
  
  .light .toastui-editor-toolbar {
    background-color: #f3f4f6;
  }
  
  .light .toastui-editor-toolbar .toastui-editor-toolbar-icons {
    color: #1f2937;
  }
  
  .light .toastui-editor-md-container {
    background-color: #ffffff;
    color: #1f2937;
  }
  */